.button {
   width: 60px;
   height: 60px;
   background: rgba(5, 5, 5, 0.3);
   flex: none;
   order: 0;
   flex-grow: 0;
   color:aliceblue;
   font-size: 120%;
   border-radius: 100%;
   padding: 5px;
}