.wrapper {
   position: relative;
   width: 423px;
   height: 507px;
   top: 41%;
   filter: drop-shadow(0px -5px 70px rgba(0, 0, 0, 0.1));
   border-radius: 30px;
   background: linear-gradient(244.38deg, #42869B 8.14%, #2A7DA1 27.9%, #224E91 56.94%, #00123F 84.11%);
   padding: auto;
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

